section {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 2em;
	padding: 2em;
	overflow: auto;
}

.projects > div > img {
	height: 100%; /* Ustawiamy wysokość na 100%, aby obrazek wypełnił całą wysokość kontenera */
	width: 30%; /* Automatyczna szerokość, aby zachować proporcje obrazka */
	object-fit: cover;
	border-radius: 1em 0 0 1em; /* Zaokrąglenie rogów tylko po lewej stronie */
}

.projects > div > div {
	flex: 1; /* Rozciągnięcie do maksymalnej dostępnej szerokości */
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.projects > div {
	border: 1px solid gray;
	border-radius: 1em;
	height: 400px;
	display: flex;
	flex-direction: row; /* Ustawiamy na "row" aby elementy były ułożone w rzędzie */
	justify-content: space-between;
}

section.project-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.project-form > form {
	display: flex;
	flex-direction: column;
}
